* {
    background-color: #eee;
    color: #555;
    font-family:'Courier New', Courier, monospace;
}

body {
    padding: 2%;
}

h1 {
    font-weight: bolder;
    text-align: center;
    margin: 16px;
}

h2 {
    font-weight: 400;
    text-align: center;
    margin-bottom: 42px;
}

ul {
    text-align: center;
    list-style: "\2192 \0020 " inside;
}

li {
    margin-bottom: 8px;
    margin-left: -65px;
}

a {
    color: #ee8888;
}

img {
    width: 200px;
    height: auto;
}

.info {
    padding-bottom: 1%;
}

.content {
    width: 500px;
    margin: 16px auto;
}

div {
    display: block
}